body{
    background-color:white;
}
.calc{
    width:400px;
    height:500px;
     text-align: center;
     margin:auto;
     background-color: cyan;
}
h2{
    text-align: center;
    margin-top: 50px;
    color:black;
    padding: 20px;
}
#result{
    width: 190px;
    height: 60px;
    pointer-events: none;
    border:1px solid white;
    padding: 20px;
}
.clear-result{
    width: 60px;
height: 60px;
background-color:red;
color: white;
margin-top: 80px;
}
.btn{
width: 60px;
height: 60px;
background-color: white;
margin-top: 12px;
border-radius: 4px;

}
.btn:hover{
    background-color:lightblue;
}
.clear-result:hover{
    background-color: white;
    color: black;
}